@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "";
}
<form action="ret" method="post">
    <input type="text"  value="your massge" />
    <input type="submit"  value="communtaion" />
</form>
<td>
 
    <a class="btn btn-danger" asp-action="ret" >Back Home</a> 

</td>