@{
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SearchEmp</title>
    <link rel="shortcut icon" type="image/png" href="~/Admin/assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="~/Admin/assets/css/styles.min.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="card bg-dark">
            <div class="card-body">
                <form asp-action="Searchpatt">
                    <input type="text" name="Fname" value="" placeholder="First name" />
                    <input type="text" name="Lname" value="" placeholder="last name" />
                                    
                    <input type="submit" class="btn btn-primary" value="Get info" />

                </form>
            </div>
        </div>
    </div>

</body>
</html> 