@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SearchEmp</title>
    <link rel="shortcut icon" type="image/png" href="~/Admin/assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="~/Admin/assets/css/styles.min.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="card bg-dark">
            <div class="card-body">
                <form asp-action="Editappointment">
                    <input type="date" name="date" value="" />
                   
                    <input type="submit" class="btn btn-primary" value="Update" />

                </form>
            </div>
        </div>
    </div>

</body>
</html> 