
@{
	Layout = "";
	
}

	<!DOCTYPE html>
	<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, 
								initial-scale=1.0" />
	
	 <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
	<link href="~/Login/Waitadmid.css" rel="stylesheet" />
	<script src="https://kit.fontawesome.com/f81de6bd01.js" crossorigin="anonymous"></script>
	
		<title>Waitadmid</title>
	</head>

	<body>
		  <div class="mainbox">
    <div class="err"></div>
@*   <i class="far fa-question-circle fa-spin"></i> *@
		<i class="far fa-smile-wink"></i>
        <div class="err2"></div>
    <div class="msg">
		
			<p class="display-4">Pleas Wait ok </p>
		<p>Let's go <a asp-action="Index">home</a> and try from there.</p>
		</div>
      </div>
	</body>

	</html>
















